@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>IDP</FluentHeader>
    <FluentBodyContent>
        <div class="content">
            @Body
        </div>
    </FluentBodyContent>
</FluentLayout>
